.Application{
 padding: 3em;
 padding-top: 3em;
}

.products{
    padding-top: 3em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 50%;
}

.Cart{

  
   position: absolute ;
   right: 200px;
   top: 0px;
}

.CheckOut{
    position: absolute ;
    right: 100px;
    top: 200px;
}
